*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/public/storage
/storage/*.key
/storage/pail
/storage/app/export-temp/*
!/storage/app/export-temp/.gitkeep
/vendor
Thumbs.db
/public/uploads/*
!/public/uploads/.gitkeep
error_log
public/error_log
storage/debugbar/

